.DS_Store
.env
.idea
.vagrant
Homestead.json
Homestead.yaml
node_modules
npm-debug.log
Vagrantfile
vendor

public/themes/iplay/assets/images/as\.png

public/themes/iplay/assets/images/gp\.png

public/themes/iplay/assets/images/iphone\.png

public/themes/iplay/assets/mix-manifest\.json

public/themes/iplay/assets/styles/app\.css
public/themes/iplay/assets/images/appleicon.svg
public/themes/iplay/assets/images/googleicon.svg
public/themes/iplay/assets/images/heroBG.png
public/themes/iplay/assets/images/heroBG.png

public/themes/iplay/assets/images/appleicon\.svg

public/themes/iplay/assets/images/googleicon\.svg
