/* WordPlate */
body{
  nav{
    display: flex;
    justify-content: space-between;
    .collapseMenu img{
      width: 32px;
    }
    *{
      display: inline;
    }
    ul.links{
      display: flex;
      align-items: center;
      width: 50%;
      justify-content: space-around;
      li{
        list-style: none;
        display: inline;
        margin-right:10px;
        a{
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
