.cta{
  height: 70%;
}


.addpic{
  width: 80%;
  margin-bottom: 100px;
  background-image: url("../images/heroBG.png");
  background-size: cover;

}




.swiper-container {
    width: 500px;
    height: 500px;
}
.swiper-pagination {
    top: 10%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
}
