.cta{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}


.addpic{
  width: 81%;
  height: 80%;
  background-image: url('../images/addpic.png');
  background-size: contain;
}



.swiper-container {
    width: 500px;
    height: 500px;
}
.swiper-pagination {
    top: 10%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
}
