.footer{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footerbar{
height: 40%;
width: 100%;
background-color: black;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.footer p{
  color: white;
}

.logo{
  height: 20px;
  width: 20px;
  background-color: white;
}

.fotobject{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}
.object1{
  margin-top: 20px;
  width: 17%;
}
.object2{
  width: 40%;
}
.object3{
  height: 30%;
  padding-top: 30px;
}
.mappic{
  height: auto;
  width: 100vw;
}
