.footer {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footerbar{
height: 40vh;
width: 100%;
background-color: black;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.footerbar {
  height: 40%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
}

.footer p {
  color: white;
}

.logo {
  font-size: 1.5em;
  color: white;

  &:hover{
    color: #55F;
  }
}

.fotobject {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}
.object1 {
  margin-top: 20px;
  width: 17%;
  margin-bottom: 20px;
}
.object2 {
  width: 40%;
}
.object3 {
  height: 30%;
  padding-top: 30px;
}
.mappic {
  height: auto;
  width: 100vw;

  @include bp(small){
    background-size: cover;
    background-position: center;
    height: 100vw;
    width: auto;
  }
}
