.hero {
  height: 100vh;
  background-image: url("../images/heroBG.png");
  background-size: cover;
  background-color: #141617;
  background-position: right;

  * {
    z-index: 2;
  }

  & > * {
    display: inline;
  }

  .heroboxcontainer {
    height: 100%;
    // width: 80%;
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: info hero phone;

    @include bp(small) {
      grid-template-columns: 1fr;
      grid-template-rows: 1vh 1vh 1vh;
      grid-template-areas: info hero phone;
    }
  }
  .herobox img {
    height: auto;
    width: 40%;
  }
  .herobox {
    flex: 1;
    height: 80%;
    padding-top: 8rem;
  }

  .hero-img {
    grid: hero;
    display: subgrid;
    grid-template-columns: 1fr;
  }

  .hero-img img {
    justify-items: end;
  }

  .hero-text {
    grid: info;
    display: flex;
    flex-direction: column;
    padding-left: 4rem;

    & > img {
      width: 10%;
      margin-bottom: 2rem;
    }

    h3 {
      font-size: 3em;
      padding-top: 0;
      margin-top: 0;

      &.dyk {
        color: white;
        margin-bottom: 0;
      }

      &.ison {
        color: #3bcf7d;
      }
    }

    p {
      color: white;
    }

    & > div {
      margin-top: 2em;
    }

    .store-link {
      display: inline-block;
      width: 151px;
      color: #3bcf7d;
      text-decoration: none;
      font-weight: bold;
      border: 2px solid #3bcf7d;
      padding: 1rem;
      margin-left: 1rem;
      border-radius: 0.5rem;
      transform: skew(-9.5deg);
      text-align: center;
      i {
        font-size: 2em;
      }
    } // END store-link
  } // END hero-text

  .hero-phone {
    grid: phone;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;

    img {
      position: absolute;
      width: 15rem;

      &.phone-img {
        width: 14rem;
        z-index: 1;
        border-radius: 48px;
      }
    }
  }

  .hero_img {
    display: block;
    position: absolute;
    z-index: 1;
    margin-bottom: 200px;
  }

  .knowphone0 {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%);

    .knowmore0 {
      background-color: rgba(255,255,255,0.25);
      height: 48px;
      width: 181.11px;
      border: 2px solid #3bcf7d;
      border-radius: 8px;
      transform: skew(-9.5deg);

      .userknow{
        color: white;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
} // END Hero
