.hero{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 100%;
  background-image: url('../images/heroBG.png');
  background-size: cover;
  background-color: #141617;
  background-position: right;

  *{
    z-index: 2;
  }
  .heroboxcontainer{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

  }
  .herobox{
    flex: 1;
  }

  .hero-text{
    flex: 1;
    .store-link{
      display: inline-block;
      width: 151px;
      height: 45px;

      &.google-play{
        background-image: url('../images/googleicon.svg');
      }

      &.app-store{
        background-image: url('../images/appleicon.svg');
      }

    } // END store-link
  } // END hero-text

  .hero-phone{
    flex: 1;
    background-image: url('../images/iphone.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .hero_img{
    display: block;
    position: absolute;
    z-index: 1;
  }

} // END Hero
