.hero{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  *{
    z-index: 2;
  }

  .hero-text{
    flex: 1;
    .store-link{
      display: inline-block;
      width: 151px;
      height: 45px;

      &.google-play{
        background-image: url('../images/gp.png');
      }

      &.app-store{
        background-image: url('../images/as.png');
      }

    } // END store-link
  } // END hero-text

  .hero-phone{
    flex: 1;
    background-image: url('../images/iphone.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .hero_img{
    display: block;
    position: absolute;
    z-index: 1;
  }

} // END Hero


