.scrollindicator{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  position: absolute;
  right: -10%;
  top: 319.5%;
}
.scrollindicator1{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  position: absolute;
  right: -10%;
  top: 150%;
}
.dot{
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 50%;
  background-color: grey;
  width: 8px;
  height: 8px;
}
.scrollline {
  width: 211px;
  height: 1px;
  background-color: grey;
}

.sidebar2 p{
  margin-left: 7px;
  margin-right: 7px;
  font-size: 10px;
  font-style: italic;
  font-weight: bold;
  line-height: 16px;
  text-shadow: 0 2px 2px 0 #52A49B;
}
.line2 {
  width: 175px;
  height: 1px;
  background-color: grey;
}
.sidebar2{
  color: grey;
  font-size: 10px;
  position: absolute;
  left: -10%;
  top: 319.5%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transform: rotate(-90deg);
}

.sidebar1{
  color: grey;
  font-size: 10px;
  position: absolute;
  left: -10%;
  top: 150%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transform: rotate(-90deg);
}
