.superusers{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.supercontainer{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include bp(small){
    flex-direction: column;
  }
}


.super1{
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.super1 h1:hover{
  color: #6ACB84;
}

.pusers{
  color: #3BCF7D;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  line-height: 24px;

   @include bp(small){
     width: 80vw;
   }
}

.filltext{
  width: 80%;
  text-align: left;

  @include bp(small){
    display: none;
  }
}

.filltext p{
  font-size: 16px;
  line-height: 24px;
}
.super1 h1{
  margin: 0;
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;

  @include bp(small){
    font-size: 2em;
    line-height: unset;
    width: 80vw;
    z-index: 2;
    position: relative;
  }
}

.super2{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include bp(small){
    justify-content: unset;
  }
}

.athlete{
  height: 110%;
  display: none;

  @include bp(small){
    z-index: 1;
    width: 100vw;
    height: auto;
  }
}

.list-item {
  cursor: pointer;
  transition: transform 200ms ease;
}

.athlete--active { display: block; }
.list-item:hover { transform: translateY(-3px); }
.list-item:active { transform: translateY(0); }

.circle{
  border-radius: 50%;
  background-color: #3BCF7D;
  height: 560px;
  width: 560px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include bp(small){
    width: 90vw;
    height: 90vw;
  }
}
.icon{
  margin-bottom: 8px;
  font-size: 1.5em;
  background-color: black;
  border-radius: 50%;
  color: white;
  padding: 0.3em;
  text-align: center;
}
.icons{
  align-self: flex-end;
  margin-left: 100px;
  margin-bottom: 100px;
}
.knowmore{
  color: white;
  width: 160px;
  height: 40px;
  background-color: #3BCF7D;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding:0rem 1.5rem;
  transform: skew(-9.5deg);
  font-size: 15px;
  line-height: 1rem;
  margin-left: 1em;

  @include bp(small){
    display: none;
  }
}

.victor{
  height: 120%;
  margin-top: 120px;
  margin-right: 50px;
}
.bella{
  height: 130%;
  margin-bottom: 100px;
}
.nils{
}
