.superusers{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.supercontainer{
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 150px;
}
.super1{
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.super1 h2:hover{
  color: #6ACB84;
}
.pusers{
  color: #6ACB84;
  font-weight: bold;
  font-size: 20px;
}
.filltext{
  width: 60%;
  text-align: justify;
}
.filltext p{
  font-size: 15px;
}
.super1 h2{
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 40px;
  font-weight: bolder;
}
.super2{
  width: 65%;
  height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.athlete{
  height: 130%;
  z-index: 5;
}

.circle{
  border-radius: 50%;
  background-color: #6ACB84;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
