.superusers{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.supercontainer{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 150px;
}


// .super0{
//   width: 5%;
//   height: 90%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: row;
// }
.super1{
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.super1 h2:hover{
  color: #6ACB84;
}
.pusers{
  color: #6ACB84;
  font-weight: bold;
  font-size: 20px;
}
.filltext{
  width: 80%;
  text-align: justify;
}
.filltext p{
  font-size: 16px;
  line-height: 24px;
}
.super1 h2{
  margin: 0;
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
}
.super2{
  width: 65%;
  height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.athlete{
  height: 140%;
  z-index: 5;
  display: none;
}
.list-item {
  cursor: pointer;
  transition: transform 200ms ease;
}
.athlete--active { display: block; }
.list-item:hover { transform: translateY(-3px); }
.list-item:active { transform: translateY(0); }

.list-item.list-item--active img { border-color: #55a6ff; }


.circle{
  border-radius: 50%;
  background-color: #6ACB84;
  height: 450px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  margin-bottom: 8px;
  font-size: 1.5em;
  background-color: black;
  border-radius: 50%;
  color: white;
  padding: 0.3em;
  text-align: center;
}
.icons{
  align-self: flex-end;
}
.knowmore{
  color: white;
  width: 160px;
  height: 40px;
  background-color: #6ACB84;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding:0rem 1.5rem;
  transform: skew(-9.5deg);
  font-size: 15px;
line-height: 1rem;


}
