.users{
  height: 100%;
}
.line{
  width: 100px;
  height: 1px;
  background-color: grey;
}
.sidebar{
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg) translateY(-100%);
}
