/* WordPlate */

body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body nav .collapseMenu img {
  width: 32px;
}

body nav * {
  display: inline;
}

body nav ul.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body nav ul.links li {
  list-style: none;
  display: inline;
  margin-right: 10px;
}

body nav ul.links li a {
  text-decoration: none;
  color: black;
}

